# Godot 4+ specific ignores


.import/
.godot/
/android/
.editor_settings-*.tres

*.tmp
*.log
*.bak
*.converted.*

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

export/
*.apk
*.exe
*.pck
*.zip
*.x86_64
*.html
*.rar

.vscode/